<app-header></app-header>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{userinfo.name}}</td>
                <td>{{userinfo.role}}</td>
                <td>{{userinfo.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
